<!DOCTYPE html>
<html>
    <head>
        <title>Angularjs Find Multiply</title>
        <script src="../angular/angular.js" type="text/javascript"></script>

    </head>
    <body ng-app>
        How many multiples number ?<br><br>
        <input type="number" ng-model="multiply" 
        ng-init='multiply=1' placeholder="Input your number"><br><br>
        <button ng-click="amount = amount + multiply">Click Here</button>
        <button ng-click="amount = 0;multiply = 1">Reset</button>
        <br>
        <h1> Result : {{amount}}</h1>
    </body>
</html>